<div style="text-align: center; border: 5px solid lightgreen; margin: 50px; margin-left: 380px; margin-right: 380px;">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group row" style="margin-left: 150px;">
    <%= f.label :name, class: 'col-sm-2' %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'col-sm-5' %>
  </div>

    <div class="form-group row" style="margin-left: 150px;">
    <%= f.label :email, class: 'col-sm-2' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-sm-5' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <div class="form-group row" style="margin-left: 150px;">
      <%= f.label 'Address Line 1', class: 'col-sm-2' %><br />
      <%= f.text_field :address, autofocus: true, autocomplete: "address", class: 'col-sm-5' %>
    </div>

    <div class="form-group row" style="margin-left: 150px;">
      <%= f.label 'Address Line 2', class: 'col-sm-2' %><br />
      <%= f.text_field :address2, autofocus: true, autocomplete: "address2", class: 'col-sm-5' %>
    </div>

    <div class="form-group row" style="margin-left: 150px;">
      <%= f.label 'Mobile Number', class: 'col-sm-2' %><br />
      <%= f.text_field :mobile_number, autofocus: true, autocomplete: "mobile number", class: 'col-sm-5' %>
    </div>

    <div class="form-group row" style="margin-left: 150px;">
      <%= f.label 'City', class: 'col-sm-2' %><br />
      <%= f.text_field :city, autofocus: true, autocomplete: "city", class: 'col-sm-5' %>
    </div>

    <div class="form-group row" style="margin-left: 150px;">
      <%= f.label 'State', class: 'col-sm-2' %><br />
      <%= f.text_field :state, autofocus: true, autocomplete: "state", class: 'col-sm-5' %>
    </div>

    <div class="form-group row" style="margin-left: 150px;">
      <%= f.label 'Zip', class: 'col-sm-2' %><br />
      <%= f.text_field :zip, autofocus: true, autocomplete: "zip", class: 'zip' %>
    </div>

    <div class="form-group row" style="margin-left: 150px;">
    <%= f.label :password, class: 'col-sm-2' %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'col-sm-5' %>&nbsp;&nbsp;
      <p style="margin-left: 130px;">
    <% if @minimum_password_length %>
      <br />
          <b>Note :- </b>(<em><%= @minimum_password_length %> characters minimum</em>)&nbsp;&nbsp;(leave it blank if you don't want to change it)
    <% end %>
      </p>
  </div>

    <div class="form-group row" style="margin-left: 150px;">
    <%= f.label :password_confirmation, class: 'col-sm-2' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'col-sm-5' %>
  </div>

    <div class="form-group row" style="margin-left: 150px;">
    <%= f.label :current_password, class: 'col-sm-2' %><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'col-sm-5' %>
    <p style="margin-left: 130px;"><b>Note :- </b><i>(We need your current password to confirm your changes)</i></p>
  </div>

    <div class="form-group row" style="margin-left: 150px;">
    <%= f.label :avatar, class: 'col-sm-2' %><br />
    <%= f.file_field :avatar, class: 'col-sm-5' %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
<br />
<%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
<br />
<%#= link_to "Back", :back %>
</div>